body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(241, 233, 241);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#chat-container {
  width: 400px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#active-users {
  order: -1; /* Diese Eigenschaft ändert die Reihenfolge der Anzeige auf -1 (vor #messages) */
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #f8f8f8;
}

#messages {
  height: 300px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 8px;
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fafafa;
}

button {
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

button:disabled {
  background-color: #cccccc;
}

button:hover {
  background-color: #45a049;
}

.username {
  font-weight: bold;
}
